*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*this so that the containers dont take extra space out of their fixed width*/
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

body{
    background: linear-gradient(90deg,  #000914,  #25015f);
    overflow-x: auto;
    overflow-y: auto;
}


/*Navigation bar*/


.navbar{
    min-height: 60px;
    background: linear-gradient(90deg,  #000914,  #25015f);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px 12px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav-logo{
    height: 50px;
    width: 100px;
    min-width: 100px;
}

.logo{
    background-image: url("blueberry.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
}

.nav-add{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%; /* nav-add needs a width, else it just shrinks to fit content and there's no extra space to distribute */
    color: white;
}

.nav-add a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nametag{
    margin-top: 15vh;
    min-height:30vh;
    display: flex;    
    align-items: start;
    flex-direction: column;
}

.nametag h1{
    padding: 0px 60px;
    margin-top: 5vh;
    font-size: 4rem;
    font-weight: bold;
    color: #CBD5E1;
}

.nametag h2{
    font-weight: 800;
    margin-top: 5vh;
    padding: 0px 60px;
    background: linear-gradient(90deg, #6a17d7, #1ac9c6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.about-me{
    margin-top: 5vh;
    padding: 0px 60px;
    font-weight: 400;
    max-width: 800px;
    color: #CBD5E1;
    
}

.button {
    display: flex;
    gap: 15px;
    padding: 0px 60px;
    margin-top: 10vh;
}

.btn-filled {
    background-color: #06B6D4;
    color: #CBD5E1;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(90deg, #8B5CF6, #06B6D4);
}

.btn-outline {
    border: 3px solid #06B6D4;
    color: #CBD5E1;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: 600;
}


.btn1{
    transition:transform .3s ease;
}

.btn1:hover{
    transform: translateY(-5px)
}

.hero {
    position: relative; /*relative so that the items can be positioned accordingly*/
    overflow: hidden; /*The hidden command hides the extra content getting out of the provided space*/
}

.social{
    display: flex;
    gap: 50px;
    padding: 0px 60px;
    margin-top: 10vh;
    justify-content: space-evenly;
}
.social i{

    font-size: 2rem;
}


.about{
    max-height: 500px;
    max-width: 100%;
    gap: 20px;
}

.me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    margin-top: 50vh;
    margin-bottom: 10vh;
    max-width: 100%;   /* NEW - caps total row width */
}

.a{
    height: 220px;
    width: 550px;
    border-radius: 15px;
}

.b{
    height: 220px;
    width: 600px;    border-radius: 15px;
}

.c{
    height: 250px;
    width: 750px;
    border-radius: 15px;
}

.d{
    height: 250px;
    width: 400px;
    border-radius: 15px;
}

.trs{
    transition: transform 0.7s ease;
    background: linear-gradient(180deg,  #000914,  #25015f );
}

.trs:hover {
    transform: perspective(800px) rotateX(15deg);
}
