@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,600;0,700;1,500&family=Inter:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*makes padding/border count inside the set width*/
    z-index: 1;
    scroll-behavior: smooth;
}

body {
  background-image:
    linear-gradient(#E4E1D8 1px, transparent 1px),
    linear-gradient(90deg, #E4E1D8 1px, transparent 1px);
  background-size: 36px 36px;
}

section{
    scroll-margin-top: 100px;
}

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    padding: 18px;
    z-index: 2;
    max-width: 100%;
    background-color: #FFFFFF;
    background-image:
    linear-gradient(#E4E1D8 1px, transparent 1px),
    linear-gradient(90deg, #E4E1D8 1px, transparent 1px);
    background-size: 36px 36px;
    border-bottom: 2px solid #020200;
}

.brand-name{
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 600;
}

.nav-add a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.button{
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: 1px solid #020200;
    background-color: #ffffff;
}

.button:hover{
    background-color: #0e0b01;
    color: white;
}

.herobox{
    max-height: 500px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    margin-top: 300px;
    padding: 20px;
    height: 500px;
    width: 850px;
    border: 1px solid #E4E1D8;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 80px;
}

.hero-content::before{
    content:"";
    position: absolute;
    inset: -10px;
    border: 1px solid #020200;

}

.abt{
    margin-left: 10dvh;
}


.hero-line{
    margin-left: 13dvh;
    font-family: "IBM Plex Sans", sans-serif;
    margin-top: 10dvh;
    color:#53524f ;
    position: relative;
}

.hero-line::before{
    content: "";
    position: absolute;
    inset: 2px 10px -2px -20px;
    width: 10px;
    height: 10px;
    background-color: #f14a4c;
    border-radius: 50%;
}

.hero-content h1{
    font-family: "Space Mono", monospace;
    color:#020200;
    margin-top: 6dvh;
    font-size: 3rem;
    font-weight: 600;
}

.highlight{
    color: #f14a4c;
}

.hero-content h2{
    font-family: "Space Mono", monospace;
    color:#020200;
    margin-top: 4dvh;
    font-size: 1.8rem;
    font-weight: 400;
}

.about-me{
    margin-top: 3dvh;
    font-family: "IBM Plex Sans", sans-serif;
    color:#53524f ;
}


.hero-actions{
    display: flex;
    gap: 14px;
    margin-top: 4dvh;
}

.btnfilled{
    padding: 12px 22px;
    background-color: #020200;
    color: #ffffff;
    font-family: "Space Mono", monospace;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btnoutline{
    padding: 12px 22px;
    background-color: transparent;
    color: #020200;
    border: 1px solid #020200;
    font-family: "Space Mono", monospace;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn:hover{
    transform: translateY(-4px);
    background-color:#f14a4c ;
    color:#020200;
}

.btnfilled, .btnoutline{
    display: inline-block;
    text-decoration: none;
}

.progress{
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 2px solid #020200;
    margin-top: 180px;
    margin-bottom: 6dvh;
}

.progress h2{
    font-family: "Space Mono", monospace;
    color:#020200;
    font-size: 1.8rem;
    font-weight: 400;
}

.status{
    color: #B08D57;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.proj{
    padding-bottom: 5px;
    color: #B08D57;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.8rem;
}

.projecthead{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    justify-content: center;
    margin: 60px auto;
    max-width: 900px;
    
}

.learning{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #020200;
}

.project{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #020200;
}

.projecthead p{
    font-family: "IBM Plex Sans", sans-serif;
}

.stack1{
    border-top: 1px dashed #E4E1D8;
    font-family: "IBM Plex Sans", sans-serif;
    padding-top: 5px;
    font-size: 0.8rem;
}

.stack2{
    border-top: 1px dashed #E4E1D8;
    font-family: "IBM Plex Sans", sans-serif;
    margin-top: 18px;
    padding-top: 5px;
    font-size: 0.8rem;
}

.tool{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.tool h2{
    font-family: "Space Mono", monospace;
    color:#020200;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 2px solid #020200;
}

.kit{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #ffffff;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;

}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #020200;
    padding: 2px 14px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}

.skill:hover{
    color:#ffffff;
    background-color: #020200;
}

.contact-box{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

.contact-box h2{
    font-family: "Space Mono", monospace;
    color:#020200;
    font-size: 1.8rem;
    font-weight: 400;
    border-bottom: 2px solid #020200;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    border: 1px solid #020200;
    background-color: #ffffff;
    justify-content: center;
    margin-top: 40px;
    padding: 50px;
}

.form1 p{
    font-family: "Space Mono", monospace;
    color:#020200;
    font-size: 2.8rem;
    font-weight: 800;
}

.form1 span{
    color:#f14a4c;
}

.form2 a{
    font-family: "Space Mono", monospace;
    color: #020200;
    font-size: 0.9rem;
    text-decoration: none;
    border-bottom: 1px solid #020200;
    width: fit-content;
    text-align: end;

}

.form2{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: end;
}

.form2 a:hover{
    color:#f14a4c;
}